.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.input-content {
  width: 30%;
  padding: 15px;
  border-radius: 16px;
  border: none;
  margin-right: 10px;
  box-shadow: 0 0 5px grey;
  margin-right: 15px;
}

@media (max-width: 550px) {
  .input-content {
    width: 50%;
  }
}
