@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@200&family=Montserrat:wght@100;300;600&family=Poppins:wght@100;300&family=Sanchez&family=Ubuntu:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: url("https://images.unsplash.com/photo-1518976024611-28bf4b48222e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=685&q=80"),
    linear-gradient(rgba(63, 56, 56, 0.6), rgba(0, 0, 0, 0.6));
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 2.5rem;
  font-weight: 300;
  margin: 20px auto;
}


